/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/normalize';

body {
  font-size: 20px;
  background-color: #282828;
  color: #fff;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
